.header {
    margin: 0 auto;
    padding-top: 45px;
    max-width: calc(100% - 200px*2);
    border-bottom: 1px solid rgba(84,84,84,0.7);
    border-top: none;
    border-left: none;
    border-right: none;
}

@media screen and (max-width: 750px) {
    .header {
        max-width: 100%;
        padding-top: 28px;
    }
}